[Unit]
Description=Tomcat webs servlet container
After=network.target
[Service]
Type=forking
User=tomcat
Group=tomcat
RestartSec=10
Restart=always
Environment="JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"
Environment="CATALINA_BASE={{ path_tomcat }}"
Environment="CATALINA_HOME={{ path_tomcat }}"
Environment="CATALINA_PID={{ path_tomcat }}temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
ExecStart={{ path_tomcat }}/bin/startup.sh
ExecStop={{ path_tomcat }}/bin/shutdown.sh
[Install]
WantedBy=multi-user.target
